@import '~bootstrap/scss/bootstrap';

$underline: blue;
$line: green;
$alt-color: $cyan;
$body-bg-color: black;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

@keyframes glow {
  0% {
    text-shadow:  0 0 10px lightblue;
  }

  15% {
    text-shadow: 2px 2px 10px rgba(120, 120, 120, 1),
                 -2px -2px 10px rgba(120, 120, 120, 1);
  }
  30% {
    text-shadow: 2px 2px 4px rgba(120, 120, 120, .7),
                 -2px -2px 4px rgba(120, 120, 120, .7);
  }
  50% {
    text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
                 -20px -20px 50px rgba(255, 255, 255, .5);
  }
}

img {
  height: 20%;
  width: 15%;
  position: absolute;
  left: 10px;
  top: 10px;
}

.email {
  color: red;
  text-align: left;
}

.decide {
  text-align: center;
}

.success {
  color: $line;
  text-align: center;
}

.failure {
  color: invert($alt-color);
}

.container {
  // Set the board's container to take up 100 percent of the
  // viewport's height (the height of the browser)
  height: 100vh;
}

.board {
  margin: auto;

  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  align-items: center;
  background-color: white;

  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  min-height: calc(100% / 3);

  user-select: none;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  &:hover {
    // Set the background color to a blue
    background-color: transparentize(lighten($underline, 40%), .1);
  }
}

// .box {
//   align-items: center;
//   background-color: $secondary;
//   border: 1px solid $white;
//   color: $font-color;
//   display: flex;
//   height: 80px;
//   justify-content: center;
// }

.alt-color {
  background-color: $alt-color;
}

h1 {
  padding: 50px;
  animation: glow 3s infinite;
  color: $underline;
  line-height: 90px;
  text-align: center;
  font-size: 80px;
  text-decoration: underline overline wavy #4169E1;
  //text-shadow: 0 8px 6px #778899;
}


h2 {
  margin: 0;
  padding: 30px auto;

  font-size: 40px;
  text-decoration: overline;
  text-decoration-color: $line;
}

h3 {
  text-decoration: underline double;
  text-decoration-color: $line;
}

.change {
  text-align: center;
}

form {
  text-align: center;
  font-size: 18px;
}

button {
  display: inline-block;
  font-size: 15px;
}

.game-buttons {
  text-align: center;
}

.sect {
  color: white;
  text-align: center;

  input {
    margin: 10px auto;
    width: 20%;
  }
}

.container {

  &.show-games {
    color: lightblue;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 5;
  }
}

.over {
  text-decoration: underline;
  color: green;
  text-align: center;
  padding-bottom: 10px;
}

ul {
  background-color: lighten(black, 80%);
  list-style-type: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

li {
  display: block;
}
